*{
	font-family: "Helvetica";
}

.nav-item{

}
button.btn{
	width: 170px;
	height: 70px;
}
button.btn-primary a{
	color: white;
}
button.btn-primary-soft a{
	color: #3366FF;
}
h1 a{
	color: blue;
	text-decoration: none;
}
h3.display-6{
	color: #3366FF;
}
h3.display-5{
	color: #3366FF;
}
p{
	font-size: 18px;
	color: silver;
}
blockquote{
	font-style: italic;
	font-size: 18px;
}