*{
	font-family: "Helvetica";
}
.background{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
button.btn{
	width: 170px;
	height: 70px;
}
button.btn-primary a{
	color: white;
}
button.btn-primary-soft a{
	color: #3366FF;
}
h1 a{
	color: blue;
	text-decoration: none;
}
p{
	color: gray;
}
p.em{
	font-size: 0.85em;
}
div ul {
	padding: 0px;
}
.social-link ul li{
	padding-right: 20px;
	list-style: none;
	float: left;
}
.footer-link ul li{
	padding-top: 20px;
	list-style: none;
}
.footer-link ul li a{
	color: gray;
	text-decoration: none;
}
.footer-link ul li a:hover{
	color: #3366FF;
}
ul li a img{
	width: 25px;
	height: 25px;
}