*{
	font-family: "Helvetica";
}
.background{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
button.btn{
	width: 170px;
	height: 70px;
}
button.btn-primary a{
	color: white;
}
button.btn-primary-soft a{
	color: #3366FF;
}
h1 a{
	color: blue;
	text-decoration: none;
}
p{
	color: gray;
}
p.em{
	font-size: 0.85em;
}
div ul {
	padding: 0px;
}
.social-link ul li{
	padding-right: 20px;
	list-style: none;
	float: left;
}
.footer-link ul li{
	padding-top: 20px;
	list-style: none;
}
.footer-link ul li a{
	color: gray;
	text-decoration: none;
}
.footer-link ul li a:hover{
	color: #3366FF;
}
ul li a img{
	width: 25px;
	height: 25px;
}
.box-content{
	padding: 25% 4% ;
	position: relative;
	z-index: 2;
}
.layerhide{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	width: 325px;
	height: 300px;
	z-index: 1;
}
.layer-blue{
	background-color: #3366FF;
	opacity: 80%;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-landings{
	width: 650px;
	height: 300px;
}
.dropdown-pages{
	width: 600px;
}
.dropdown-account{
	width: 200px;
}
.dropdown-content {
	border-radius: 10px;
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 2;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-link{
	padding: 7% 3%;
}
.dropdown-link ul li{
	margin-top: 2px;
	list-style: none;
}
.dropdown-link ul li a{
	color: gray;
	text-decoration: none;
}
.dropdown-link ul li a:hover{
	color: #3366FF;
}