*{
	font-family: "Helvetica";
}
button.btn{
	width: 170px;
	height: 70px;
}
button.btn-primary a{
	color: white;
}
button.btn-primary-soft a{
	color: #3366FF;
}
h1 a{
	color: blue;
	text-decoration: none;
}
p{
	color: gray;
}
p.em{
	font-size: 0.85em;
}